/* 
    Created on : Dec 10, 2024, 2:38:52 PM
    Author     : almacro
*/

.button {
    -fx-text-fill: white;
    -fx-font-family: Arial Narrow;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1,#2A5058);
}

#textstyle {
    -fx-font: 30px "Arial";
    -fx-fill: whote;
}